DATABASE_DSN=postgresql://postgres:postgres@postgres/postgres
BOT_TOKEN=""
ADMINS="1, 2, 3"
API_SERVER="http://telegram-bot-api:8081"
TELEGRAM_API_ID=""
TELEGRAM_API_HASH=""
TELEGRAM_LOCAL="true"
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=